
<div *ngIf="u"  class="main-container">
    <div class="post">
        <div class="post-header">
            <img src="{{photo}}" alt="User Avatar" class="user-avatar">
            <span class="username">{{username}}</span>
            <!-- Tiempo de publicación -->
            <span class="post-time">{{time}}</span>
        </div>
        <!-- Descripción antes de la imagen -->
        <div class="post-description">
            <p>{{postData?.comment}}</p>
        </div>
        <!-- Imagen de la publicación -->
        <img src="{{postData?.imageUrl}}" class="post-image">
        <div class="more-post">
            <span class="likes">{{l}}<span class="like-count">{{n}}</span></span>
            <span class="comments"><i class="fa fa-comment"></i>{{postData?.id}} </span>
          </div>
        <!-- Iconos de acción -->
        <div class="post-actions">
            <i (click)="Like()" class="icon like-icon">❤️</i>
            <i class="icon comment-icon">💬</i>
            <i class="icon save-icon">🔖</i>
        </div>
    </div>
</div>
