<header class="header">
    <div class="header-left">
      <h1 class="logo">ArguedasConnect</h1>
    </div>
    
    <div class="header-center">
      <input type="text" class="search-bar" placeholder="Buscar...">
    </div>
    
    <div class="header-right">
      <span class="user-name">Hola,</span>
      <a href="#" class="header-link">Inicio</a>
      <a href="#" class="header-link">Perfil</a>
      <a href="#" class="header-link">Amigos</a>
      <button   class="logout-button">Cerrar sesión</button>
    </div>
  </header>