<div class="groups-container" style="margin-top: 80px;">
  <h2 *ngIf="!selectedGroup" class="page-title">Explora Grupos</h2>
  <div *ngIf="!selectedGroup"  class="header-container">
    <button class="create-group-btn" (click)="openCreateGroupModal()">Crear Grupo</button>
    <input
      type="text"
      [(ngModel)]="searchTerm"
      class="search-input"
      placeholder="Buscar grupos..."
    />
  </div>

  <!-- Modal para crear un grupo -->
  <div *ngIf="showCreateGroupModal" class="modal">
    <div class="modal-content">
      <h3>Crear un Nuevo Grupo</h3>
      <input [(ngModel)]="newGroup.nombre" placeholder="Nombre del grupo" class="input-field" />
      <textarea [(ngModel)]="newGroup.descripcion" placeholder="Descripción" class="input-field"></textarea>
      <button class="save-btn" (click)="createGroup()">Guardar</button>
      <button class="cancel-btn" (click)="closeCreateGroupModal()">Cancelar</button>
    </div>
  </div>

  <!-- Lista de Grupos -->
  <div *ngIf="!selectedGroup" class="group-list">
    <div class="group-card" *ngFor="let group of filteredGroups()">
      <div class="group-image-container">
        <img
          src="https://via.placeholder.com/300x150"
          alt="Imagen del Grupo"
          class="group-image"
        />
      </div>
      <div class="group-header">
        <h3 class="group-title">{{ group.nombre }}</h3>
      </div>
      <div class="group-body">
        <p class="group-description">{{ group.descripcion }}</p>
        
        <p class="group-members"> {{ group.miembros.length }} Miembros</p>
      </div>
      <div class="group-footer">
        <button *ngIf="isMember(group)" class="view-feed-btn" (click)="viewGroupFeed(group)">
          Ver Feed
        </button>
        <button *ngIf="!isMember(group)" class="join-btn" (click)="joinGroup(group.id)">
          Unirse
        </button>
      </div>
    </div>
  </div>

  <!-- Feed del Grupo Seleccionado -->
  <div *ngIf="selectedGroup" class="group-feed-container">
    <button class="back-btn" (click)="backToGroups()">← Volver a Grupos</button>
    <app-group-feed [group]="selectedGroup"></app-group-feed>
  </div>
</div>
