
<router-outlet *ngIf="!loggedIn()"></router-outlet>

<header *ngIf="MailV()  && userHasProfile && loggedIn()  " class="header">
    <div class="header-left">
      <h1 class="logo">ArguedasConnect</h1>
    </div>
    
    <div class="header-center">
      <input type="text" class="search-bar" placeholder="Buscar...">
    </div>
    
    <div class="header-right">
      <span class="user-name">Hola, {{userDocument.publicName}}</span>
      <a (click)="HomeClick()" class="header-link">Inicio</a>
      <a (click)="userPerfilClick()"class="header-link">Perfil</a>
      <a (click)="AmigoClick()" class="header-link">Amigos</a>
      <button  (click)="LogoutClick()" class="logout-button">Cerrar sesión</button>
    </div>
  </header>

  <header *ngIf="loggedIn() && !userHasProfile" class="header">

    <div class="header-left">
       
      </div>
    
    <div class="header-right">
      
      <button  (click)="LogoutClick()" class="logout-button">Cerrar sesión</button>
    </div>
  </header>
  
  <app-feed   *ngIf="MailV() && loggedIn() && userHasProfile && isHomeState() "></app-feed>
  <app-perfil *ngIf="loggedIn() && userHasProfile && isPerfilState() "></app-perfil>
  <app-user-perfil    *ngIf="loggedIn() && userHasProfile && isUserPerfilState() ">   </app-user-perfil>

<app-complete-profile *ngIf="loggedIn() &&!userHasProfile "> </app-complete-profile>




