
<router-outlet *ngIf="!loggedIn()"></router-outlet>

<header *ngIf="userHasProfile && loggedIn()  " class="header">
    <div class="header-left">
      <h1 class="logo">ArguedasConnect</h1>
    </div>
    
    <div class="header-center">
      <input type="text" class="search-bar" placeholder="Buscar...">
    </div>
    
    <div class="header-right">
      <span class="user-name">Hola, {{userDocument.publicName}}</span>
      <a href="#" class="header-link">Inicio</a>
      <a href="#" class="header-link">Perfil</a>
      <a href="#" class="header-link">Amigos</a>
      <button  (click)="LogoutClick()" class="logout-button">Cerrar sesión</button>
    </div>
  </header>

  <header *ngIf="loggedIn() && !userHasProfile" class="header">

    <div class="header-left">
       
      </div>
    
    <div class="header-right">
      
      <button  (click)="LogoutClick()" class="logout-button">Cerrar sesión</button>
    </div>
  </header>
  


<app-complete-profile *ngIf="loggedIn() &&!userHasProfile "> </app-complete-profile>
