<div *ngIf="!mailv && loggedIn() &&  !userHasProfile" class="containermail">
  <h2>Tu correo no está verificado</h2>
  <p>Te hemos enviado un correo electrónico. Por favor, revisa tu bandeja de entrada y sigue las instrucciones para activar tu cuenta.</p>
  <br>
  <p>Cerrando sesión en {{s}} segundos</p>
 
</div>



<div  *ngIf=" loggedIn()  && load  "  class="loading-overlay">
  <div class="spinner"></div>
</div>

<div id="notification" class="notification">
  <p>Ocurrió un error inesperado. Por favor, inténtalo nuevamente más tarde.</p>
</div>

<router-outlet *ngIf="!loggedIn()"></router-outlet>

<header *ngIf="MailV()  && userHasProfile && loggedIn()  " class="header">
    <div class="header-left">
      <h1 class="logo">ArguedasConnect</h1>
    </div>
    
    <div class="header-center">
      <input type="text" class="search-bar" placeholder="Buscar...">
    </div>
    
    <div class="header-right">
      <span class="user-name">Hola, {{getUsername()}}</span>
      <a  (click)="HomeClick()" class=" menut">Inicio</a>
      <a (click)="userPerfilClick()"class="menut">Perfil</a>
      <a (click)="gruposClick()" class="menut">Grupo</a>
      <a  (click)="eventosClick()" class="menut">Eventos</a>

      <button  (click)="LogoutClick()" class="logout-button">Cerrar sesión</button>
    </div>
  </header>

  <div id="pf" class="pf">
    <header *ngIf="mailv && loggedIn() && !userHasProfile && !perfil" class="header">

      <div class="header-left">
         
        </div>
      
      <div class="header-right">
        
        <button  (click)="LogoutClick()" class="logout-button">Cerrar sesión</button>
      </div>
    </header>
  </div>
  
  
  <app-feed   *ngIf="MailV() && loggedIn() && userHasProfile && isHomeState() "></app-feed>
  <app-perfil *ngIf="loggedIn() && userHasProfile && isPerfilState() "></app-perfil>
  <app-user-perfil    *ngIf="loggedIn() && userHasProfile && isUserPerfilState() ">   </app-user-perfil>

  <div  *ngIf="loggedIn() && userHasProfile && isAmigoState()"  class="loading-overlay">
    <div class="spinner"></div>
  </div>
  

<app-complete-profile *ngIf="loggedIn() && MailV() && !userHasProfile && !perfil"> </app-complete-profile>




