
<div  *ngIf="!b"  class="loading-overlay">
  <div class="spinner"></div>
</div>
<div *ngIf="b"  class="profile-container">
  <div class="profile-header">
    <img src="baner.jpg" alt="Cover Image" class="cover-image">
    <div class="profile-overlay">
      

      <label for="photo-upload" class="edit-profile-photo">
        📷
        <input
          #photoSelector
          (change)="onPhotoSelected(photoSelector)"
          id="photo-upload"
          type="file"
          accept="image/*"
        />
      </label>
      


      <div class="profile-photo ">
        
        <img src="{{ userProfileData?.photoUrl }}" id="post-preview-image" alt="Profile Photo">
        
      </div>
      <div class="profile-details">
        <h1>{{ userProfileData?.publicName }} {{ userProfileData?.publicLastname }}  <svg *ngIf="verificado" aria-label="Verificado" class="x1lliihq x1n2onr6" fill="rgb(0, 149, 246)" height="18" role="img" viewBox="0 0 40 40" width="18"><title>Verificado</title><path d="M19.998 3.094 14.638 0l-2.972 5.15H5.432v6.354L0 14.64 3.094 20 0 25.359l5.432 3.137v5.905h5.975L14.638 40l5.36-3.094L25.358 40l3.232-5.6h6.162v-6.01L40 25.359 36.905 20 40 14.641l-5.248-3.03v-6.46h-6.419L25.358 0l-5.36 3.094Zm7.415 11.225 2.254 2.287-11.43 11.5-6.835-6.93 2.244-2.258 4.587 4.581 9.18-9.18Z" fill-rule="evenodd"></path></svg></h1>
        <p class="career">{{ userProfileData?.publicCareer }}</p>
      </div>
      <button *ngIf="bb" (click)="uploadPhoto()" > Guardar</button>
    </div>
    
  </div>
  
  <div class="profile-content">
    <div class="profile-info">
      <h2   >Información Personal  <button (click)="onEditInfo()" class="edit-button"> Editar</button> </h2>
      <p><strong>Fecha de Nacimiento:</strong> {{ userProfileData?.publicFN }}</p>
      <p><strong>Sexo:</strong> {{ userProfileData?.publicSex }}</p>
      <p><strong>Privacidad de cuenta:</strong> {{ userProfileData?.privacidad }}</p>
      
      
    </div>

    
    <div class="profile-posts">
      <h2>Publicaciones</h2>
      
<!-- Descripción antes de la imagen -->
    
 <app-perfil-posts *ngFor="let post of posts"  [postData]="post"  ></app-perfil-posts>
 

      <!-- Agregar más publicaciones aquí -->
    </div>
  </div>
</div>