<div *ngIf="u" class="main-container">
    <div class="post">
        <div class="post-header">
            <img (click)="sendId()"  src="{{photo}}" alt="User Avatar" class="user-avatar">
            
            <div class="user-info">
                <span (click)="sendId()" class="username">{{username}}</span>
                <!-- Información de la carrera -->
                <p class="career">{{carrera}}</p>
              </div>
            <!-- Tiempo de publicación -->
            <span class="post-time">{{time}}</span>
        </div>
        
        <!-- Descripción antes de la imagen -->
        <div class="post-description">
            <p>{{postData?.comment}}</p>
        </div>
        <!-- Imagen de la publicación -->
        <img src="{{postData?.imageUrl}}" class="post-image">
        <!-- Iconos de acción -->
        <div class="post-actions">
            <i class="icon like-icon">❤️</i>
            <i class="icon comment-icon">💬</i>
            <i class="icon save-icon">🔖</i>
        </div>
    </div>
</div>
