<div class="main-container">
    <div class="post">
        <div class="post-header">
            <img src="" alt="User Avatar" class="user-avatar">
            <span class="username">username</span>
        </div>
        <img src="post.jpg" alt="Post Image" class="post-image">
        <div class="post-actions">
            <i class="icon like-icon">❤️</i>
            <i class="icon comment-icon">💬</i>
            <i class="icon save-icon">🔖</i>
        </div>
        <div class="post-description">
            <span class="username">username</span>
            <p>This is a description of the post. It can be a long or short text about the image.</p>
        </div>
    </div>
</div>
